@mixin createCircle($color, $length, $border) {
    background: $color;
    height: $length;
    width: $length;
    border: $border solid black;
    border-radius: 50%;
}

@mixin displayDot($color, $pixel, $position) {
    position: relative;

    .dot {
        position: absolute;
        border-radius: 50%;
        height: $pixel;
        width: $pixel;
        background: $color;
        top: $position;
        left: $position;
    }
}

@mixin createLine($color) {
    width: 50px;
    height: 3px;
    border: 2px solid black;
    border-radius: 8px;
    background: $color;
}

@mixin createSquare($color, $shadow) {
    height: 45px;
    width: 45px;
    border: 1px solid black;
    border-radius: 4px;
    background: $color;
    box-shadow: inset $shadow;
}

@mixin createScreen($width, $height, $color) {
    width: $width;
    height: $height;
    border: 2px solid black;
    border-radius: 6px;
    background: $color;
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.pokedex {
    margin-top: 25px;
    display: flex;
    height: 550px;
    width: calc(350px*2);
    -webkit-animation: fade-in-bottom .8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom .8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    .polyline-black {
        fill: none;
        stroke: black;
        stroke-width: 3
    }

    .polyline-white {
        fill: #ffffff;
        stroke: none;
        stroke-width: 3;
    }

    .left-side {
        width: 350px;
        height: 100%;
        border: 3px solid black;
        border-top: none;
        border-radius: 10px;
        border-bottom-right-radius: 0;
        background: #FE0065;

        .top-div {
            display: flex;
            position: relative;
            height: 115px;
            border-top: 3px solid black;
            border-radius: 10px;

            .button-left {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 10px;
                @include createCircle(#ffffff, 85px, 3px);

                .button-left-inside {
                    @include createCircle(#3298CB, 85%, 3px);
                    @include displayDot(#85BDFE, 20px, 12px);
                }
            }

            .three-button {
                display: flex;
                margin: 15px 0 0 30px;
                gap: 2px;

                .button-red {
                    @include createCircle(#FF0000, 22px, 3px);
                    @include displayDot(#FE98CB, 10px, 3px);
                }

                .button-yellow {
                    @include createCircle(#FECB65, 22px, 3px);
                    @include displayDot(#FEFECB, 10px, 3px);
                }

                .button-green {
                    @include createCircle(#32CB65, 22px, 3px);
                    @include displayDot(#98FE00, 10px, 3px);
                }
            }

            .left-svg {
                position: absolute;
                bottom: -10px;
            }
        }

        .center-div {
            height: 250px;
            margin: 10px 40px 0;
            border: 3px solid black;
            border-bottom-left-radius: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background: #ffffff;

            .top-dots {
                display: flex;
                gap: 10px;
                justify-content: center;
                margin-top: 10px;

                .dots {
                    @include createCircle(#FF0000, 8px, 1px);
                }
            }

            .screen {
                background: #3AB47D;
                height: 100%;
                margin: 8px 20px;
                border: 2px solid black;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 180px;
                }
            }

            .bottom-elements {
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 90px;
                margin-bottom: 8px;

                .red-dot-left {
                    @include createCircle(#FF0000, 20px, 2px);
                    @include displayDot(#FE98CB, 7px, 3px)
                }

                .burger-right {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .span-burger {
                        width: 25px;
                        border: 1.5px solid black;
                    }
                }
            }
        }

        .bottom-div {
            margin-top: 15px;
            display: grid;
            gap: 10px;
            grid-template-rows: 40% 60%;

            .bottom-top {
                display: flex;
                justify-content: flex-start;
                gap: 30px;
                margin: 5px 0 0 20px;

                .dark-button {
                    @include createCircle(#585858, 35px, 2px)
                }

                .red-line {
                    @include createLine(#FF0000)
                }

                .blue-line {
                    @include createLine(#85BDFE)
                }
            }

            .bottom-bottom {
                display: flex;
                align-items: center;
                margin: 0 30px;
                gap: 40px;

                .dots {
                    display: flex;
                    gap: 30px;

                    .span-dots {
                        @include createCircle(black, 1px, 1px)
                    }
                }

                .pokemon-name {
                    @include createScreen(140px, 50px, #3AB47D);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    letter-spacing: 1px;
                    font-size: 1.5rem;
                }

                .right-container {
                    display: flex;
                    flex-direction: column;
                    gap: 50px;

                    .cross {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .line {
                            position: absolute;
                            height: 15px;
                            width: 60px;
                            border: 2px solid black;
                            border-collapse: collapse;
                            border-radius: 6px;
                            background: #585858;

                            &.vertical-line {
                                transform: rotate(90deg);
                                margin-top: -2px;
                            }

                            &.horizontal-line {
                                .border-top {
                                    border-top: 3.5px solid #585858;
                                    position: absolute;
                                    top: -3px;
                                    left: 22.5px;
                                    right: 22.5px;
                                }
                                .border-bottom {
                                    border-top: 3.5px solid #585858;
                                    position: absolute;
                                    top: 14px;
                                    left: 22.5px;
                                    right: 22.5px;
                                  }
                            }
                        }

                        .dot-center {
                            @include createCircle(#585858, 5px, 2px);
                            z-index: 2;
                        }
                    }

                    .bottom-left {
                        display: flex;
                        align-items: flex-end;
                        gap: 5px;

                        .red-dot-bottom-left {
                            @include createCircle(#FF0000, 10px, 2px);
                            @include displayDot(#fe98cb, 3px, 2px)
                        }

                        .span-dots {
                            margin-bottom: 4px;
                            @include createCircle(black, 1px, 1px)
                        }
                    }
                }
            }
        }
    }

    .right-side {
        width: 350px;
        height: 100%;
        border-bottom: 3px solid black;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        background: #FE0065;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            border-right: 3px solid black;
            border-bottom-right-radius: 10px;
            width: 100%;
            height: 442.8px;
            left: -2px;
            bottom: -3px;
        }

        .center-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1px;
            margin-top: 5px;

            .screen {
                @include createScreen(250px, 100px, #9E9D9D);

                p {
                    margin: 0;
                }
            }

            .grid-button {
                display: grid;
                grid-template-columns: repeat(5, 45px);
                grid-template-rows: repeat(2, 45px);
                grid-column-gap: 0px;
                grid-row-gap: 0px;

                .blue-square {
                    @include createSquare(#60beee, -5px -5px 5px rgb(50, 152, 203))
                }
            }
        }

        .bottom-div {
            margin: 10px 30px 0;

            .bottom-top-div {
                display: flex;
                justify-content: space-between;
                height: 40px;

                .two-red-dots {
                    display: flex;
                    align-items: flex-end;
                    gap: 15px;

                    .red-dot {
                        @include createCircle(#FF0000, 10px, 2px);
                        @include displayDot(#fe98cb, 3px, 2px)
                    }
                }

                .black-lines {
                    display: flex;
                    gap: 15px;

                    .black-line {
                        @include createLine(#585858)
                    }
                }
            }

            .bottom-center-div {
                display: flex;
                justify-content: space-between;
                margin: 15px 0 60px;
                position: relative;

                .white-squares {
                    display: flex;

                    .square {
                        @include createSquare(#ffffff, -4px -4px 2px #808080)
                    }
                }

                .yellow-dot {
                    position: absolute;
                    top: -20px;
                    right: 0;
                    @include createCircle(#FECB65, 35px, 2px);
                    @include displayDot(#FEFECB, 10px, 6px)
                }
            }

            .bottom-bottom-div {
                display: flex;
                justify-content: space-between;

                .display-screen {
                    @include createScreen(110px, 45px, #9E9D9D);
                    letter-spacing: 2px;
                }
            }
        }
    }
}