.container-sprites {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 40%;
    overflow-y: scroll;

    .sprite-pokemon {
        cursor: pointer;
        width: 250px;
        z-index: 1;
        transform: translateX(-50px);
        @media (max-width: 480px) {
            transform: translateX(0);
        }
    }

    .sprite-missingno {
        cursor: pointer;
        width: initial;
        z-index: 1;
        transform: translateY(30px);
    }

    .pokeball-open {
        width: 70px;
        transform: translateY(125px) rotate(30deg);
    }
}